{% extends "student_base.html" %}

{% block title %}Attendance Verification{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card card-soft">
            <div class="card-body p-4 text-center">
                <h1 class="h3 mb-4">Attendance Verification</h1>
                <img id="video" src="{{ url_for('student.video_feed_with_faces') }}" alt="Video feed" class="img-fluid rounded border">
            </div>
        </div>
    </div>
</div>
{% endblock %}
