{% extends "teacher_base.html" %}

{% block title %}Редагування групи{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-5">
        <div class="card card-soft">
            <div class="card-body">
                <h2 class="h5 mb-3">Редагувати групу</h2>
                <form action="{{ url_for('teacher.update_class', id=classes.class_number) }}" method="post">
                    <div class="form-group">
                        <label for="class_number">ID групи</label>
                        <input type="text" name="class_number" id="class_number" value="{{ classes.class_number }}" class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <label for="class_name">Назва групи</label>
                        <input type="text" name="class_name" id="class_name" value="{{ classes.class_name }}" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Оновити</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
