<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Перевірка Реєстрації</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 0;
    }

    h1 {
      text-align: center;
      margin-top: 50px;
    }

    #videoContainer {
      max-width: 640px;
      margin: 0 auto;
      text-align: center;
    }

    #video {
      width: 100%;
      border: 1px solid #ccc;
    }

    #photoName {
      margin-top: 20px;
      font-size: 18px;
      font-weight: bold;
    }
  </style>
</head>

<body>
  <h1>Перевірка Реєстрації</h1>
  <div id="videoContainer">
    <img id="video" src="/video_feed_with_faces" alt="video feed">
    <div id="photoName"></div>
  </div>

  <script>
    // Here you should set the name of the last saved photo to the photoName element
    // Assuming you can retrieve this information somehow
    // For now, we will set it manually for demonstration
    document.getElementById("photoName").innerText = "Ім'я для ідентифікації - ПІБ.jpg";  // Replace with dynamic data
  </script>
</body>

</html>